.navbar {
  margin-top: -35px !important;

  .nav {
    background-color: $colour-darkblue-opaque !important;

    .nav-link {
      color: $colour-text;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.1em;
    }
  }

  .active {
    color: $colour-general !important;
    font-weight: 700 !important;
  }

  .nav-link:hover {
    color: $colour-general;
  }

  /* Animate the links */
  .nav-link:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: $colour-general;
    color: $colour-general;
    transition: width 0.3s;
  }

  /* Activate animation on hover */
  .nav-link:not(.active):hover:after {
    width: 100%;
    transition: width 0.3s;
  }
}
