// Navigation
@media (max-width: 991px) and (min-width: 320px) {
  nav {
    width: 100px !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column !important;

    .navbar-toggler {
      border: none !important;
      outline: none !important;
      color: $colour-text !important;
      text-shadow: 2px 2px 4px gray;
    }
    .nav-link {
      font-size: 0.5em !important;
      letter-spacing: normal !important;
    }

    h6 {
      font-size: 0.6em !important;
    }
  }
  li.active {
    width: 100% !important;
  }
}

// Carousel
@media (max-width: 768px) {
  main .slider .slide .blurb {
    bottom: 70px !important;
    left: 50px !important;
    right: 50px !important;
    padding: 20px !important;

    h2 {
      margin: 0 0 0 10px !important;
      font-size: 0.9em !important;
    }

    p {
      margin: 0 0 0 10px !important;
      font-size: 0.7em !important;
    }
  }
}
