// Setup variables
$colour-darkblue-opaque: rgba(5, 82, 108, 0.6);
$colour-text: #1f1e1e;
$colour-general: azure;
$colour-general-opaque: rgba(240, 255, 255, 0.6);
$colour-blue: #05526c;
$font: "Montserrat", sans-serif;

$img-spain-back: "../images/spain-back.jpg";
$img-spain: "../images/spain.jpg";
$img-spain1: "../images/spain1.jpg";
$img-spain2: "../images/spain2.jpg";
$img-spain3: "../images/spain3.jpg";
$img-spain4: "../images/spain4.jpg";
$img-gas: "../images/gas.jpg";
$img-gas1: "../images/gas1.jpg";
$img-gas2: "../images/gas2.jpg";
$img-gas3: "../images/gas3.jpg";
$img-cul: "../images/cul.jpg";
$img-cul1: "../images/cul1.jpg";
$img-cul2: "../images/cul2.jpg";
$img-cul3: "../images/cul3.jpg";
$img-his: "../images/his.jpg";
$img-his1: "../images/his1.jpg";
$img-his2: "../images/his2.jpg";
$img-his3: "../images/his3.jpg";

// Setup mixin for the carousel slides
@mixin images($img) {
  background-image: url($img);
  background-size: cover;
}
