@import url("https://fonts.googleapis.com/css?family=Montserrat");
.slide1 {
  background-image: url("./images/spain.jpg");
  background-size: cover;
}

.slide2 {
  background-image: url("./images/spain1.jpg");
  background-size: cover;
}

.slide3 {
  background-image: url("./images/spain2.jpg");
  background-size: cover;
}

.slide4 {
  background-image: url("./images/spain3.jpg");
  background-size: cover;
}

.slide5 {
  background-image: url("./images/gas.jpg");
  background-size: cover;
}

.slide6 {
  background-image: url("./images/gas1.jpg");
  background-size: cover;
}

.slide7 {
  background-image: url("./images/gas2.jpg");
  background-size: cover;
}

.slide8 {
  background-image: url("./images/gas3.jpg");
  background-size: cover;
}

.slide9 {
  background-image: url("./images/cul.jpg");
  background-size: cover;
}

.slide10 {
  background-image: url("./images/cul1.jpg");
  background-size: cover;
}

.slide11 {
  background-image: url("./images/cul2.jpg");
  background-size: cover;
}

.slide12 {
  background-image: url("./images/cul3.jpg");
  background-size: cover;
}

.slide13 {
  background-image: url("./images/his.jpg");
  background-size: cover;
}

.slide14 {
  background-image: url("./images/his1.jpg");
  background-size: cover;
}

.slide15 {
  background-image: url("./images/his2.jpg");
  background-size: cover;
}

.slide16 {
  background-image: url("./images/his3.jpg");
  background-size: cover;
}

@-webkit-keyframes animate {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes animate {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.container {
  width: 70%;
  height: 100%;
  padding-top: 5%;
}

.container .formDiv {
  height: 100%;
  background-color: rgba(5, 82, 108, 0.6);
  border-radius: 50px;
}

.container .formDiv h6 {
  color: azure;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  text-decoration: underline;
}

.container .formDiv .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.container .formDiv .form-group .form-control {
  margin-left: 20px;
  padding: 0;
  width: 200px;
  height: 25px;
}

.container .formDiv .form-group .form-control::-webkit-input-placeholder {
  color: #05526c;
  padding-left: 5px;
}

.container .formDiv .form-group .form-control:-moz-placeholder {
  color: #05526c;
  padding-left: 5px;
}

.container .formDiv .form-group .form-control::-moz-placeholder {
  color: #05526c;
  padding-left: 5px;
}

.container .formDiv .form-group .form-control:-ms-input-placeholder {
  color: #05526c;
  padding-left: 5px;
}

.container .formDiv .form-group .form-control::-ms-input-placeholder {
  color: #05526c;
  padding-left: 5px;
}

.container .formDiv .form-group .form-text {
  padding: 10px 0;
  color: azure;
  font-size: 0.7em;
}

.container .formDiv .form-group .btn-change8 {
  height: 50px;
  width: 200px;
  background-color: rgba(5, 82, 108, 0.6);
  margin: 20px;
  float: left;
  border: 0px;
  color: azure;
  -webkit-box-shadow: 0 0 1px #05526c;
          box-shadow: 0 0 1px #05526c;
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 0 0 #05526c inset, 0px 0px 0 0 #05526c inset;
}

.container .formDiv .form-group .btn-change8:hover {
  -webkit-box-shadow: 100px 0px 0 0 #05526c inset, -100px 0px 0 0 #05526c inset;
}

@media (max-width: 991px) and (min-width: 320px) {
  nav {
    width: 100px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  nav .navbar-toggler {
    border: none !important;
    outline: none !important;
  }
  nav .nav-link {
    font-size: 0.5em !important;
    letter-spacing: normal !important;
  }
  nav h6 {
    font-size: 0.6em !important;
  }
}

@media (max-width: 768px) {
  main .slider .slide .blurb {
    bottom: 70px !important;
    left: 50px !important;
    right: 50px !important;
    padding: 20px !important;
  }
  main .slider .slide .blurb h2 {
    margin: 0 0 0 10px !important;
    font-size: 0.9em !important;
  }
  main .slider .slide .blurb p {
    margin: 0 0 0 10px !important;
    font-size: 0.7em !important;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  float: left;
  -webkit-animation: animate 40s infinite ease-in-out;
          animation: animate 40s infinite ease-in-out;
}

.slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

.slider .slide .blurb {
  position: absolute;
  bottom: 100px;
  left: 60px;
  right: 60px;
  background-color: rgba(5, 82, 108, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider .slide .blurb h2 {
  margin: 5px 0 0 30px;
  padding: 0;
  color: azure;
  font-size: 2em;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider .slide .blurb p {
  margin: 5px 0 0 30px;
  padding: 0;
  color: azure;
  font-size: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar {
  margin-top: -35px !important;
  /* Animate the links */
  /* Activate animation on hover */
}

.navbar .nav {
  background-color: rgba(5, 82, 108, 0.6);
}

.navbar .nav .nav-link {
  color: #1f1e1e;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.navbar .active {
  color: azure !important;
  font-size: 0.9em;
}

.navbar .nav-link:hover {
  color: azure;
}

.navbar .nav-link:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: azure;
  color: azure;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.navbar .nav-link:not(.active):hover:after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.jumbotron {
  height: 20%;
}

.jumbotron img {
  position: absolute;
  top: 30px;
  right: 3%;
}

#newsBack {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(./images/spain-back.jpg);
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(5, 82, 108, 0.6);
}

footer p {
  margin: 0;
  padding: 15px;
  color: azure;
}
/*# sourceMappingURL=styles.css.map */