@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "./vars-mixins.scss";
@import "./slides.scss";
@import "./animations.scss";
@import "./forms.scss";
@import "./media-queries.scss";
@import "./carousel.scss";
@import "./links.scss";

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body styles and settings
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font;
}

// Main section to hold carousels
main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

// Use Bootstrap for header and navbar START
.jumbotron {
  height: 20%;

  img {
    position: absolute;
    top: 30px;
    right: 3%;
  }
}

// Jumbotron, navbar END

// Section to hold background image for newsletter page
#newsBack {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(./images/spain-back.jpg);
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $colour-darkblue-opaque;

  p {
    margin: 0;
    padding: 15px;
    color: $colour-general;
  }
}
